{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "printWidth": 90,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
